<h1>This is the dashboard</h1>
<div class="current-booking-container">
  <div class="booking-card">
    
  </div>
</div>
<div class="rejected-booking-container">
</div>
<%= link_to "Booking History", bookings_path %>
