.family-photo {
  height: 300px;
  width: 700px;
}

.family-information {
  width: 600px;
}

.book-this-family {
  margin-top: 10px;
}

.generic-family-photo {
  height: 300px;
  width: 700px;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  object-fit: cover
}
