.mapboxgl-popup {
  max-width: 200px;
  position: absolute;
  left: 0;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {
  border-radius: 8px;
  position: sticky;
  top: 82px;
}

.col-3.map {
  padding: 0px;
}

.col-9.map {
  padding-left: 0px;
}
