.book-this-family {
  text-decoration: none;
  font-size: 20px;
}

.information {
  display: flex;
}

.family-information {
  flex-grow: 1;
}

.book-this-family:hover {
  transform: scale(1.01);
}

.fa-heart {
  color: rgb(226, 90, 90);
}

.display-members {
  margin-top: 50px;
  background-color: rgb(250, 250, 250);
  padding: 10px;
  border-radius: 10px;
  line-height: 40px;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // grid-gap: 16px;
}

.review-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}
